<ons-toolbar>
  <div class="left">
    <ons-toolbar-button>
      <ons-back-button></ons-back-button>
    </ons-toolbar-button>
  </div>
  <div class="center">Thông tin nhân viên</div>
  <div class="right">
    <div class="noti" style="background-image: url(/assets/images/heart.png);"> </div>
  </div>
</ons-toolbar>

<ons-page class="profile">
  <div class="content">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <img src="http://placekitten.com/g/50/50" class="img-responsive" alt="">
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          Nguyễn Quỳnh Anh 
        </div>
        <div class="profile-usertitle-job">
          Nhân viên phát triển phần mềm
        </div>
        <div class="profile-usertitle-id">
          3879676
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->     
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul class="nav">
          <li class="active">
            <a href="#">
            <i class="glyphicon glyphicon-home"></i>
            Overview </a>
          </li>
          <li>
            <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            Account Settings </a>
          </li>
          <li>
            <a href="#" target="_blank">
            <i class="glyphicon glyphicon-ok"></i>
            Tasks </a>
          </li>
          <li>
            <a href="#">
            <i class="glyphicon glyphicon-flag"></i>
            Help </a>
          </li>
        </ul>
      </div>
      <!-- END MENU -->
    </div>





  </div>
</ons-page>
