<ons-toolbar>
  <div class="left">
    <ons-toolbar-button>
      <ons-back-button></ons-back-button>
    </ons-toolbar-button>
  </div>
  <div class="center">Thông tin nhân viên</div>
  <div class="right">
    <div class="noti" style="background-image: url(/assets/images/heart.png);"> </div>
  </div>
</ons-toolbar>

<ons-page class="profile">
  <div class="content">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <img src="http://placekitten.com/g/50/50" class="img-responsive" alt="">
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          Nguyễn Quỳnh Anh 
        </div>
        <div class="profile-usertitle-job">
          Nhân viên phát triển phần mềm
        </div>
        <div class="profile-usertitle-id">
          3879676
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->     
      <!-- SIDEBAR MENU -->
      <div class="profile-usermenu">
        <ul class="nav">
          <li>
            <span>
              <ons-icon class="fsap fsap-calendar"></ons-icon>
            22/03/2017</span>
          </li>
          <li>
            <span>
              <ons-icon class="fsap fsap-building"></ons-icon>
            Trung tâm BSC</span>
          </li>
          <li>
            <span>
            <ons-icon class="fsap fsap-iphone"></ons-icon>
            097844598</span>
          </li>
          <li>
            <span>
            <ons-icon class="fsap fsap-leads"></ons-icon>
            Trần Hoàng Long</span>
          </li>
          <li>
            <span>
              <ons-icon class="fsap fsap-letter"></ons-icon>
            Không thời hạn</span>
          </li>
        </ul>
      </div>
      <!-- END MENU -->
    </div>





  </div>
</ons-page>
