<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center"> {{title}} </div>
    <div class="right"></div>
  </ons-toolbar>
  <div class="content">
    <div class="content content-full content-view">
      <div class="search-user">
        <span>Gửi đến: </span>
        <mat-form-field>
          <mat-label>Họ và tên</mat-label>
          <mat-select></mat-select>
        </mat-form-field>
      </div>
      <div class="list-content list-content-cen">
        <div class="list-content-header">GIÁ TRỊ CỐT LÕI:</div>
        <ons-list class="bg-img--none">
          <ons-list-item class="list-item list-item-color-1">
            <div class="list-item-top">
              <div class="list-item-top-img">
                <img src="../../../assets/images/NONAL.png">
              </div>
              <div class="list-item-title">THỎA MÃN KHÁCH HÀNG</div>
            </div>
            <div class="list-item-bottom">
              - Chủ động lắng nghe phản hồi cụ thể và giải quyết kịp thời nhu cầu của khách hàng, đối tác, nhà cung cấp
              và các bên liên quan để đạt được mục đích và mong đợi giữa các bên
            </div>
          </ons-list-item>
          <ons-list-item class="list-item list-item-color-2">
            <div class="list-item-top">
              <div class="list-item-top-img">
                <img src="../../../assets/images/NONAL.png">
              </div>
              <div class="list-item-title">THỎA MÃN KHÁCH HÀNG</div>
            </div>
            <div class="list-item-bottom">
              - Chủ động lắng nghe phản hồi cụ thể và giải quyết kịp thời nhu cầu của khách hàng, đối tác, nhà cung cấp
              và các bên liên quan để đạt được mục đích và mong đợi giữa các bên
            </div>
          </ons-list-item>
        </ons-list>
        <div class="feedback">
          <div class="feedback-header">
            <span class="left">Nội dung:</span>
          </div>
          <div class="feedback-content">
            <ons-list class="feedback-items">
              <ons-list-item class="feedback-item">
                <div class="center">
                  <div class="top">
                    <div class="left"><img src="../../../assets/images/NONAL.png"><span>Nguyễn Văn A</span></div>
                    <div class="right">20/05/2020</div>
                  </div>
                  <div class="bottom">
                    Chủ động lắng nghe phản hồi cụ thể và giải quyết kịp thời nhu cầu của khách hàng, đối tác, nhà cung
                    cấp và các bên liên quan để đạt được mục đích và mong đợi giữa các bên
                  </div>
                </div>
              </ons-list-item>
              <ons-list-item class="feedback-item">
                <div class="center">
                  <div class="top">
                    <div class="left"><img src="../../../assets/images/NONAL.png"><span>Trần Thị C</span></div>
                    <div class="right">20/05/2020</div>
                  </div>                  
                  <div class="bottom">
                    Chủ động lắng nghe phản hồi cụ thể và giải quyết kịp thời nhu cầu của khách hàng, đối tác, nhà cung
                    cấp và các bên liên quan để đạt được mục đích và mong đợi giữa các bên
                  </div>
                </div>
              </ons-list-item>
            </ons-list>
          </div>
        </div>
      </div>
    </div>
    <!--<button (click)="modalRequest.show()">Phản hồi</button>-->
  </div>
</ons-page>


<ons-alert-dialog animation="default" cancelable #modalRequest>
  <div class="alert-dialog-title"> Phản hồi của người nhận </div>
  <div class="alert-dialog-content">
    <mat-form-field>
      <mat-label>Phản hồi</mat-label>
      <textarea matInput rows="5"></textarea>
    </mat-form-field>
  </div>
  <div class="alert-dialog-footer alert-dialog-footer--rowfooter">
    <div class="alert-dialog-footer">
      <button>Upload</button>
      <button>Đồng ý</button>
      <button>Huỷ</button>
    </div>
  </div>
</ons-alert-dialog>