<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center"> {{title}} </div>
    <div class="right">
      <div class="noti" style="background-image: url(/assets/images/heart.png);">
      </div>
    </div>
  </ons-toolbar>
  <div class="content">
    <div class="search-bar">
      <ons-search-input (keyup)="eventOnSearch($event.target.value)" placeholder="Tìm kiếm"></ons-search-input>
      <ons-icon class="filter" icon="fa-sliders-h" (click)="modalFilter.show()"></ons-icon>
    </div>

    <div class="list-content">
      <ons-list class="bg-img--none last-child-bg-img--none">

        <ng-template #loadListItem></ng-template>
        <ng-template #loadListGhost></ng-template>

        <ng-template *ngIf="isDataNotFound">
          <div class="empty-list">
            {{env.Notification.DataNotFound}}
          </div>
        </ng-template>


        <div class="loading" *ngIf="false == isLoadingData">
          <ons-progress-circular indeterminate></ons-progress-circular>
        </div>

      </ons-list>
    </div>
    <ons-speed-dial position="right bottom" direction="up">
      <ons-fab>
        <ons-icon icon="md-plus"></ons-icon>
      </ons-fab>
    </ons-speed-dial>
  </div>
</ons-page>



<!-- MODAL -->
<ons-alert-dialog animation="default" cancelable #modalFilter>
  <div class="alert-dialog-title">
    <ons-icon class="fsap fsap-add-filter"></ons-icon>Lọc dữ liệu
  </div>
  <div class="alert-dialog-content">
    <div class="form-item">
      <span class="form-item-left">Ngày ghi nhận</span>
      <div class="form-item-right">
        <mat-form-field>
          <mat-label>Tuần này</mat-label>
          <mat-select></mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-item">
      <span class="form-item-left">Tình trạng</span>
      <div class="form-item-right">
        <mat-form-field>
          <mat-label>Chưa xem</mat-label>
          <mat-select></mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="alert-dialog-footer alert-dialog-footer--rowfooter">
    <ons-alert-dialog-button class="alert-dialog-button--rowfooter alert-dialog-button" style="position: relative;">
      <ons-icon class="fsap fsap-clear-filter"></ons-icon>Bỏ lọc
    </ons-alert-dialog-button>
    <ons-alert-dialog-button class="alert-dialog-button--rowfooter alert-dialog-button" style="position: relative;">
      <ons-icon class="fsap fsap-accept"></ons-icon>Chọn
    </ons-alert-dialog-button>
    <ons-alert-dialog-button class="alert-dialog-button--rowfooter alert-dialog-button" style="position: relative;">
      <ons-icon class="fsap fsap-decline"></ons-icon>Huỷ
    </ons-alert-dialog-button>
  </div>
</ons-alert-dialog>
