<ons-page class="login">
  <div class="background"></div>
  <div class="content">
    <div class="t-center form-main">

      <form [formGroup]="loginForm" (ngSubmit)="eventLogin()">
        <div>
          <div>
            <mat-form-field>
              <mat-icon class="t-10 m-icon-o" matPrefix>perm_identity</mat-icon>              
              <input matInput placeholder="Username" formControlName="Username" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-icon class="t-9 m-icon-o" matPrefix>lock</mat-icon>              
              <input matInput type="password" placeholder="Password" formControlName="Password" autocomplete="off">              
            </mat-form-field>
          </div>
          <div>
            <button class="button t-9" type="submit">LOG IN</button>
          </div>
          <div class="languages">
            <a class="active" href="#" title="Tiếng Việt">VI</a>            
            <a href="#" title="English">EN</a>
            <div class="product">
              <img src="../../../assets/images/footer-login-1.jpg">
              <img src="../../../assets/images/footer-login-2.jpg">
              <img src="../../../assets/images/footer-login-3.jpg">
              <img src="../../../assets/images/footer-login-4.jpg">
            </div>
          </div>
          <div class="footer">            
            <div class="copyright">Bản quyền © 2020 | LAC VIET Computing Corp.</div>
          </div>
        </div>
      </form>

    </div>
  </div>
</ons-page>
