<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center"> {{title}} </div>
    <div class="right"></div>
  </ons-toolbar>
  <div class="content content-full content-view">
    <div class="detail-request-feedback"> 
      <div class="top">
        <div class="left">Người yêu cầu: </div>
        <div class="right">Trần Thị Mỹ Anh</div>
      </div>      
      <div class="top">
        <div class="left">Ngày yêu cầu: </div>
        <div class="right">15/05/2020</div>
      </div>     
      <div class="top">
        <div class="left">Gửi đến: </div>
        <div class="right">Vũ Duy Khôi</div>
      </div>
      <div class="feedback">
        <div class="feedback-header">
          <span class="left">Nội dung yêu cầu:</span>            
        </div>  
        <div class="feedback-content">
          <div class="feedback-items">
            <div class="feedback-item">
              <div class="left"><img src="../../../assets/images/NONAL.png"><span>Nguyễn Văn A</span></div>      
              <div class="bottom">
                Chủ động lắng nghe phản hồi cụ thể và giải quyết kịp thời nhu cầu của khách hàng, đối tác, nhà cung cấp và các bên liên quan để đạt được mục đích và mong đợi giữa các bên
              </div>
            </div>            
          </div>
        </div>  
        <div class="feedback-header">
          <span class="left">Nội dung phản hồi yêu cầu:</span>    
          <div class="right">Đồng ý</div>        
        </div>  
        <div class="feedback-content">
          <div class="feedback-items">          
            <div class="feedback-item">
              <div class="left"><img src="../../../assets/images/NONAL.png"><span>Trần Thị C</span></div>                              
              <div class="bottom">
                Chủ động lắng nghe phản hồi cụ thể và giải quyết kịp thời nhu cầu của khách hàng, đối tác, nhà cung cấp và các bên liên quan để đạt được mục đích và mong đợi giữa các bên
              </div>
            </div>
          </div>
        </div>        
      </div> 
    </div>










  </div>
</ons-page>
