@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/Content/fonts-sapui/sapui-font.min.css";
@import "global.scss";

body .background,
body .page__background {
  background-color: var(--color-primary-0);
}

$lstSide: ("":"", "t":"-top", "r":"-right", "b":"-bottom", "l":"-left");

@mixin my-padding-margin($value) {

  @each $name,
  $side in $lstSide {
    .p#{$name}-#{$value} {
      padding#{$side}: $value*1px;
    }

    .m#{$name}-#{$value} {
      margin#{$side}: $value*1px;
    }
  }
}

@for $i from 0 through 30 {
  @if ($i>0 and $i<=20) {

    .t-#{$i},
    .mat-form-field .mat-icon.t-#{$i} {
      font-size: $i * 0.1rem;
    }
  }

  @if($i%5==0) {
    @include my-padding-margin($i);
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.t-ellipsis,
.t-ellipsis .row {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin my-text-align($name) {
  .t-#{$name} {
    text-align: #{$name};
  }
}

@include my-text-align("left");
@include my-text-align("right");
@include my-text-align("center");
@include my-text-align("justify");
@include my-text-align("nowrap");
@include my-text-align("lowercase");
@include my-text-align("uppercase");
@include my-text-align("capitalize");

@mixin my-keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

.bg-img--none,
.list-item__center,
.list-item__right,
.list-item__left {
  background-image: none;
}

ons-checkbox {
  .checkbox--material__checkmark:before {
    transition: background-color 0.05s linear 0.01s, border-color 0.05s linear 0.01s;
  }

  :checked+.checkbox--material__checkmark:before {
    border: none;
    background-color: var(--color-accent-1);
  }

  :checked+.checkbox--material__checkmark:after {
    transition: transform 0.1s ease 0.1s;
  }
}

.row {
  width: 100%;
}

.grid {
  display: grid;
}

.alert-dialog {
  background: #fff;
}

ons-toolbar.toolbar {
  width: auto;
  padding: 0 16px;
  background-image: none;
  background-color: var(--color-primary-6);  
  .center {
    width: calc(100% - 100px);
    @extend .t-ellipsis;
    color: var(--color-primary-0);
  }

  .left {
    width: 50px;

    ons-icon {
      float: left;
      color: var(--color-primary-0);
    }

    ons-back-button {
      width: 100%;
    }
  }

  .right {
    width: 50px;

    ons-icon {
      float: right;
    }
  }

  .back-button {
    padding-left: 0;
  }

  .toolbar-ellipsis {
    font-size: 1.2rem;
    color: var(--color-primary-4);
  }
}

ons-toolbar-button>ons-icon[icon*="md-"],
ons-toolbar-button>ons-icon[icon*="fa-"],
ons-toolbar-button>ons-icon[icon*="ion-"] {
  font-size: 22px;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 45px 10px;
  text-align: center;
  margin: 30px 16px 0 16px;

  .home-item {
    &__icon ons-icon {
      opacity: .8;
      width: 60px;
      height: 60px;
      line-height: 1;
      border-radius: 13px;
      background: var(--color-accent-1);
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    }

    &__icon ons-icon::before {
      position: absolute;
      font-size: 1.7rem;
      color: var(--color-primary-0);
      transform: translate(-50%, 50%);
    }

    &__title {
      font-size: .8rem;
      display: block;
      margin: 8px 0 0 0;
      @extend .t-ellipsis;
    }
  }
}

.function {
  margin: 0 16px 0 16px;

  .function-head {
    font-weight: 600;
    margin: 10px 0 15px 0;

    ons-icon {
      margin: 0 10px 0 0;
      color: var(--color-primary-6);
      font-size: 18px;
      line-height: 1.5;
      background-color: var(--color-primary-7);
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 50%;
      text-align: center;
    }
    .title {
      padding: 5px 0 0 0;
      color: var(--color-primary-6);
    }
  }

  .function-body {
    display: grid;   
    grid-gap: 15px;
    margin: 0 0 30px 0;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));     
  }  
  @include respond-above(sm) {
    .function-body {
      grid-template-columns: 1fr 1fr 1fr;     
    }
  }  
  .function-body__card {
    height: 95px;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-rows: 30px auto;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.12);
    background-color: var(--color-primary-7);
    .title {
      display: grid;
      grid-template-columns: auto 35px;

      ons-icon {
        line-height: 1;
        font-size: 1.7rem;
        margin: auto 0 0 0;
        padding: 0 0 5px 0;
        text-align: center;
        color: var(--color-primary-5);
      }
      .number {
        font-size: 1.2rem;
        margin: auto 0 0 0;                
        @extend .t-ellipsis;
      }
    }

    .description {
      font-size: 1rem;
      max-height: 40px;
      overflow: hidden;
      font-style: italic;
      @extend .t-ellipsis;
    }
  }
}
#toolbar-back-button{
  fill:#fff;
}
.list-content {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  .list-item {    
    width: auto;
    font-size: .9rem;    
    margin: 16px 0;    
    border: 1px var(--color-primary-8) solid;   

    &:first-child {
      margin-top: 0px;
    }
    .thumbnail{
      border-radius: 50%;
      width: 50px;
    }
    .title{
      -webkit-flex-basis: 100%;
      flex-basis: 100%;
      -webkit-align-self: flex-end;
      align-self: flex-end;
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      order: 0;
      line-height: 1.2em;
      font-size: 1.05em;
    }
    .subtitle{
      opacity: 0.75;
      font-size: 14px;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      order: 1;
      -webkit-flex-basis: 100%;
      flex-basis: 100%;
      -webkit-align-self: flex-start;
      align-self: flex-start;
      opacity: 0.75;
      font-size: 0.98em;   
      padding-top: 3px; 
    }
    .center {
      padding: 10px 20px 35px 0px;
      position: relative;
    }
    ons-icon{
      position: absolute;
      top: 10px;
      right: 2px;
      font-size: 0.85em;
      color: var(--color-primary-6);
      cursor: pointer;
    }
    .bottom{
      position: absolute;
      bottom: 10px;
      right: 10px;
      .date{
        opacity: 0.75;   
        font-size: 0.8em;     
      }
      .status{
        margin-left: 5px;
        padding-left: 5px;
        border-left: 2px var(--color-primary-8) solid;  
        font-size: 0.8em; 
      }
    }
  }
  .list-item.responded{
    border-left: 3px var(--color-primary-6) solid;
    .status{
      color: var(--color-primary-6);
    }
  }
  .list-item.non-respond{
    border-left: 3px #EC8F43 solid;
    .status{
      color: #EC8F43;
    }
  }
  .list-item.loading{
    border-left:3px #DEDFE2 solid;
    .title, .subtitle, .date, .status{
      background-color: #DEDFE2; color:#DEDFE2;
    }   
    ons-icon{
      color:#DEDFE2;
    }   
  }
}
ons-fab.fab, ons-speed-dial-item.fab, button.fab{
  background-color: var(--color-primary-6);
}
.search-bar {
  width: calc(100% - 32px);
  right: 16px;
  position: fixed;
  z-index: 2;
  margin-top: 16px;

  ons-search-input {
    width: 100%;
  }

  .search-input {
    height: 40px;
    font-size: 1rem;
    padding: 0 50px;
    border-radius: 999px;
    background-size: 15px;
    background-position: 20px center;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
  }

  &~.list-content {
    margin-top: 70px;
    margin: 0 16px;
    top:70px;
  }

  .filter {
    top: 8px;
    right: 20px;
    font-size: 16px;
    position: absolute;
  }
}

.side-bar {
  &__background {
    border-radius: 0 5px 5px 0;
  }

  &__content {
    display: grid;
    grid-template-rows: 215px auto 60px 45px;
    background-color: var(--color-primary-6)!important;

    .avatar {
      img {
        width: 110px;
        height: 110px;
        border-radius: 9999px;
      }

      .title {
        width: 260px;
        padding: 10px 10px 15px;
        position: absolute;
        color: var(--color-primary-0);
        @extend .t-ellipsis;
      }
    }

    .menu {
      overflow: initial;

      ons-list-item {        

        .center {
          padding: 15px 0;
          background-image: none;

          i {
            padding-left: 45px;
            font-size: 1.5rem;
          }

          span {
            padding-left: 20px;
            font-size: 1.1rem;
          }
        }
      }
    }

    .logout {
      opacity: .5;

      ons-list-item {
        height: 100%;
        padding: 0;

        .center {
          background-image: none;
          justify-content: center;
          place-content: center;
        }
      }

      span {
        padding-left: 15px;
        font-size: 1.1rem;
      }
    }

    .footer {
      overflow: hidden;
      margin-top: 10px;

      .company-name {
        @extend .t-ellipsis;
        text-align: center;
        margin: 5px 15px 5px 15px;
        color: var(--color-primary-0);
        font-size: .7rem;
      }

      .database {
        margin: 0 10px;
        font-size: .6rem;
      }
    }
  }
}
/*#region clearonsen alert-dialog*/
.alert-dialog{
  width: 95%;
  .alert-dialog-title {
    color: var(--color-primary-6);
    .fsap{
      float: unset;
      font-size: 0.8em;
    }
  }
  .alert-dialog-footer {    
    .fsap{
      float: unset;
      font-size: 0.8em;
    }
  }
  .form-item{
    display: inline-block;
    width: 100%;
    .form-item-left{
      width: 30%;
      float: left;
      padding-top: 18px;      
    }
    .form-item-right{
      width: 68%;
      float: right;
      .mat-form-field{
        width: 100%;
      }
    }
    @include respond-above(sm) {
      .form-item-left{
        width: 20%;          
      }
      .form-item-right{
        width: 78%;       
      }
    }    
  }
}

/*#endregion*/




















































@include my-keyframes(lds-dual-ring) {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
