@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/Content/fonts-sapui/sapui-font.min.css";
@import "global.scss";

body .background,
body .page__background {
  background-color: var(--color-primary-0);
}

$lstSide: ("":"", "t":"-top", "r":"-right", "b":"-bottom", "l":"-left");

@mixin my-padding-margin($value) {

  @each $name,
  $side in $lstSide {
    .p#{$name}-#{$value} {
      padding#{$side}: $value*1px;
    }

    .m#{$name}-#{$value} {
      margin#{$side}: $value*1px;
    }
  }
}

@for $i from 0 through 30 {
  @if ($i>0 and $i<=20) {

    .t-#{$i},
    .mat-form-field .mat-icon.t-#{$i} {
      font-size: $i * 0.1rem;
    }
  }

  @if($i%5==0) {
    @include my-padding-margin($i);
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.t-ellipsis,
.t-ellipsis .row {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin my-text-align($name) {
  .t-#{$name} {
    text-align: #{$name};
  }
}

@include my-text-align("left");
@include my-text-align("right");
@include my-text-align("center");
@include my-text-align("justify");
@include my-text-align("nowrap");
@include my-text-align("lowercase");
@include my-text-align("uppercase");
@include my-text-align("capitalize");

@mixin my-keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

.bg-img--none,
.last-child-bg-img--none ons-list-item:last-child .list-item__center,
.last-child-bg-img--none ons-list-item:last-child .list-item__right,
.last-child-bg-img--none ons-list-item:last-child .list-item__left {
  background-image: none;
}

ons-checkbox {
  .checkbox--material__checkmark:before {
    transition: background-color 0.05s linear 0.01s, border-color 0.05s linear 0.01s;
  }

  :checked+.checkbox--material__checkmark:before {
    border: none;
    background-color: var(--color-accent-1);
  }

  :checked+.checkbox--material__checkmark:after {
    transition: transform 0.1s ease 0.1s;
  }
}

.row {
  width: 100%;
}

.grid {
  display: grid;
}

.alert-dialog {
  background: #fff;
}

ons-alert-dialog {
  position: fixed;
}

ons-toolbar.toolbar {
  width: auto;
  padding: 0 16px;
  background-image: url(/assets/images/logo.png);
  background-position: top 2px left 35px;
  background-color: var(--color-primary-6);
  background-size: 100px 40px;

  .center {
    width: calc(100% - 100px);
    @extend .t-ellipsis;
    color: var(--color-primary-0);
  }

  .left {
    width: 150px;

    ons-icon {
      float: left;
      color: var(--color-primary-0);
    }

    ons-back-button {
      width: 100%;

      svg {
        width: 10px;
        height: 16px;
      }
    }
  }

  .right {
    width: 50px;
    position: relative;

    ons-icon {
      float: right;
    }

    .noti {
      text-align: center;
      background-size: 35px 35px;     
      background-position: top 5px right 0px;
      background-repeat: no-repeat;      
      height: 45px;

      span {
        color: #fff;
        background-color: red;
        padding: 3px;
        border-radius: 12px;
        position: absolute;
        top: 2px;
        right: -5px;
        height: 20px;
        min-width: 20px;
        line-height: 16px;
        font-size: 0.8rem;
        text-align: center;
      }    
    }    
  }

  .back-button {
    padding-left: 0;
  }

  .toolbar-ellipsis {
    font-size: 1.2rem;
    color: var(--color-primary-4);
  }
}

ons-toolbar-button>ons-icon[icon*="md-"],
ons-toolbar-button>ons-icon[icon*="fa-"],
ons-toolbar-button>ons-icon[icon*="ion-"] {
  font-size: 1.3rem;
}

ons-page {
  .content-full {
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px !important;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.modal {
  opacity: 0.5;
  background-color: var(--color-accent-3);
}

hrm-combobox-dialog .mat-form-field {
  width: 100%;
}
/*#region login*/
/*#region profile*/
.profile{
  .content{
    padding: 0px 16px 16px 16px;
  }
  background-color: #FCFCFC;
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }  
  .profile-userpic{
    text-align: right;
    width: 30%;
    float: left;
    img {
      float: none;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-width: 120px;
      max-height: 120px;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
    }
  } 
  .profile-usertitle {  
    width: 66%;
    float: right;
  }
  @include respond-above(sm) {
    .profile-usertitle {
      margin-top: 10px;
     }
   }
   @include respond-above(md) {
    .profile-usertitle {
      margin-top: 20px;
     }
   }
  .profile-usertitle-name {    
    font-size: 1rem;    
    margin-bottom: 7px;   
    text-transform: uppercase;
  }
  
  .profile-usertitle-job, .profile-usertitle-id {        
    font-size: 1rem;    
    margin-bottom: 8px;
    color: #666;
  }
  .profile-usermenu {
    clear: both;
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        border-bottom: 1px solid #f0f4f7;
        span {
          color: #666;
          font-size: 14px;
          font-weight: 400;
          position: relative;
          display: block;
          padding: 10px 15px;
          .fsap{
            margin-right: 8px;
            font-size: 18px;
            width: 25px;
          }
        }        
      }
      li:last-child {
        border-bottom: none;
      }      
    }   
  }   
  .profile-content {
    padding: 16px;
    background: #fff;
    min-height: 460px;
  }
}
/*#endregion*/
.login {
  .form-main {
    top: 40%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
  }

  .background {
    background-image: url(assets/images/background.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
  }
  .mat-form-field
  {
    text-align: center;
    width: 85%;
    max-width: 500px;
    min-width: 150px;
    .mat-form-field-wrapper{
      border: 1px #2380AE solid;
      margin-bottom: 1.25em;
      padding-bottom: 5px;
      border-radius: 5px;
      padding-top: 5px;
      background-color: #FFF;
      opacity: 0.6;
      .mat-form-field-underline{
        display: none;
      }
      .mat-icon{
        margin-left: 10px;
        color: #2380AE;
      }
    }
  }
  .button {
    text-align: center;
    width: 85%;
    max-width: 500px;
    min-width: 150px;
  }  
  .mat-form-field-infix {
    border-top: 0;
  }

  .button {
    margin: 15px 0 0 0;
    border-radius: 5px;
    background-color: #048CC8;   
  }
  .languages{
    text-align: center;
    padding: 20px 10px 50px 10px;
    margin-bottom: 10px;      
    a{
      border-right: 2px #BDBDBD solid;  
      padding: 0px 10px;
      color: #BDBDBD;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
    }
    a + a {
      border: none;
    }
    a.active{
      color: #048CC8;
    }
    .product{
      clear: both;      
      padding-top: 20px;
      img{
        width: 50px;
        height: 50px;
      }
    }
  }
  .footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;    
    .copyright{
      background-color: #048CC8;
      text-align: center;
      padding: 8px 10px;
      color: #fff;
    }
  }  
}
/*#endregion*/
.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 45px 10px;
  text-align: center;
  margin: 30px 16px 0 16px;
  .home-item {
    &__icon ons-icon {
      opacity: .8;
      width: 60px;
      height: 60px;
      line-height: 1;
      border-radius: 13px;
      background: var(--color-accent-1);
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    }

    &__icon ons-icon::before {
      position: absolute;
      font-size: 1.7rem;
      color: var(--color-primary-0);
      transform: translate(-50%, 50%);
    }

    &__title {
      display: block;
      margin: 8px 0 0 0;
      @extend .t-ellipsis;
    }
  }
}

.function {
  margin: 0 16px 16px 16px;  
  .function-head {
    font-weight: 600;
    margin: 24px 0 24px 0;

    ons-icon {
      margin: 0 10px 0 0;
      color: var(--color-primary-6);
      font-size: 1.2rem;
      line-height: 1.5;
      background-color: var(--color-primary-7);
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 50%;
      text-align: center;
    }
    .img{
      width: 50px;
      height: 50px;
      float: left;
      background-color: #FFCDD2;
      border-radius: 50%;
      margin-top: -9px;
      img{
        width: 100%;
        height: 100%;     
        border-radius: 50%;
      }
    }
    .title {      
      padding: 8px 0 8px 0;      
      background-color: #FFCDD2;
      border-radius: 5px;
      text-indent: 10px;
      line-height: 16px;
      margin-left: 20px;
      P{
        @extend .t-ellipsis;
        margin: 0px;
        color: #444;
      }
    }
  }

  .function-body {
    display: grid;   
    grid-gap: 15px;    
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));     
  }  
  @include respond-above(sm) {
    .function-body {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .function-body__card {
    height: 95px;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-rows: 30px auto;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    .title {
      display: grid;
      grid-template-columns: 35px auto;      
      .img{
        border-radius: 50%;   
        height: 35px;          
        text-align: center; 
        margin: auto 0 0 0;  
        img{
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 50%;
        }
      }

      .number {
        font-size: 1.2rem;
        margin: auto 0 0 10px;   
        text-align: right; 
        color: #2A4E6F;            
        @extend .t-ellipsis;
        span{
          color: #C93132;
        }
      }
    }
    .description {
      font-size: 1rem;
      max-height: 40px;
      overflow: hidden;      
      @extend .t-ellipsis;
    }
  }
}

#toolbar-back-button {
  fill: #fff;
}

.list-content,
.content-full-toolbar {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  .list-item {
    width: auto;
    margin: 16px 0;
    border: 1px var(--color-primary-8) solid;
    border-left: 3px #DEDFE2 solid;

    &:first-child {
      margin-top: 0px;
    }

    .thumbnail {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }

    .title {
      -webkit-flex-basis: 100%;
      flex-basis: 100%;
      -webkit-align-self: flex-end;
      align-self: flex-end;
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      order: 0;
      line-height: 1.2em;
      font-size: 1.05em;
      max-height: 1.2em;
      overflow: hidden;
    }

    .date-sent {
      float: right;
      font-size: .8em;
    }

    .subtitle {
      opacity: 0.75;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      order: 1;
      -webkit-flex-basis: 100%;
      flex-basis: 100%;
      -webkit-align-self: flex-start;
      align-self: flex-start;
      opacity: 0.75;
      font-size: 0.98em;
      margin-top: 3px;
      line-height: 17px;
      max-height: 34px;
      overflow: hidden;
    }

    .center {
      padding: 10px 10px 35px 0px;
      position: relative;
      background-image: none;
    }

    ons-icon {
      position: absolute;
      top: 10px;
      right: 2px;
      font-size: 0.85em;
      color: var(--color-primary-6);
      cursor: pointer;
    }

    .bottom {
      position: absolute;
      bottom: 10px;
      right: 10px;

      .date {
        opacity: 0.75;
        font-size: 0.8em;
        margin-right: 5px;
        padding-right: 5px;
        border-right: 2px #DEDFE2 solid;
      }

      .status {
        font-size: 0.8em;
      }
    }
  }

  .list-item.list-item-viewed {
    border-left: 3px var(--color-primary-6) solid;

    .status {
      color: var(--color-primary-6);
    }
  }

  .list-item.list-item-not-view {
    border-left: 3px #E90A05 solid;

    .status {
      color: #B1B5BD;
    }
  }

  .list-item.responded {
    border-left: 3px var(--color-primary-6) solid;

    .status {
      color: var(--color-primary-6);
    }
  }

  .list-item.non-respond {
    border-left: 3px #EC8F43 solid;

    .status {
      color: #EC8F43;
    }
  }

  .loading-ghost {
    border-left: 3px rgba(204, 204, 204, 0.5) solid;

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
      animation: loading-ghost 1s infinite;
    }

    &.list-item .center {
      padding: 10px 16px 35px 0px;
      background-image: none;
    }

    .thumbnail,
    .row-ghost,
    .large-row-ghost,
    .sub-row-ghost {
      background-color: rgba(204, 204, 204, 0.5);
    }

    .row-ghost {
      height: 15px;
      width: 100%;
    }

    .large-row-ghost {
      height: 20px;
      width: 75%;
    }

    .sub-row-ghost {
      height: 13px;
      width: 70px;
    }
  }

  .empty-list {
    padding: 18px;
    text-align: center;
  }
}

ons-fab.fab,
ons-speed-dial-item.fab,
button.fab {
  background-color: var(--color-primary-6);
}

.search-bar {
  width: calc(100% - 32px);
  right: 16px;
  position: fixed;
  z-index: 2;
  margin-top: 16px;

  ons-search-input {
    width: 100%;
  }

  .search-input {
    height: 40px;
    font-size: 1rem;
    padding: 0 50px;
    border-radius: 999px;
    background-size: 15px;
    background-position: 20px center;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
  }

  &~.list-content {
    margin: 70px 0 0 0;
    padding: 0 16px;
  }

  .filter {
    top: 8px;
    right: 20px;
    font-size: 1rem;
    position: absolute;
  }
}

.side-bar {
  &__background {
    border-radius: 0 5px 5px 0;
  }

  &__content {
    display: grid;
    grid-template-rows: 215px auto 60px 45px;
    background-color: var(--color-primary-6) !important;

    .avatar {
      img {
        width: 110px;
        height: 110px;
        border-radius: 9999px;
      }

      .title {
        width: 260px;
        padding: 10px 10px 15px;
        position: absolute;
        color: var(--color-primary-0);
        @extend .t-ellipsis;
      }
    }
    .menu {
      overflow: initial;

      ons-list-item {

        .center {
          padding: 15px 0;
          background-image: none;

          i {
            padding-left: 45px;
            font-size: 1.5rem;
          }

          span {
            padding-left: 20px;
            font-size: 1.1rem;
          }
        }
      }
    }

    .logout {
      opacity: .5;
      ons-list-item {
        height: 100%;
        padding: 0;
        display: unset;
        .center {
          background-image: none;
          justify-content: unset;
          place-content: unset;
          display: inline-block;
          width: 100%;
          padding-top: 18px;
          padding-left: 6px;
          a, a:visited, a:hover{
            text-decoration: none;
            color: #ccc;
            padding-top: 4px;
            display: block;
            float: left;
          }
          a, i{
            padding-left: 10px;
            padding-right: 10px;
          }          
          a.active{
            color: #000;
          }
          i{
            float: right;
          }
        }
      }
      span {
        padding-left: 15px;
        font-size: 1.1rem;
      }
    }
    .footer {
      overflow: hidden;
      margin-top: 10px;
      .company-name {
        @extend .t-ellipsis;
        text-align: center;
        margin: 5px 15px 5px 15px;
        color: var(--color-primary-0);
        font-size: .7rem;
      }
      .database {
        margin: 0 10px;
        font-size: .6rem;
      }
    }
  }
}

/*#region clearonsen alert-dialog*/
.alert-dialog {
  width: 95%;
  max-height: 95%;

  .alert-dialog-title {
    color: var(--color-primary-6);

    .fsap {
      float: unset;
      font-size: 0.8em;
    }
  }

  .alert-dialog-footer {
    .fsap {
      float: unset;
      font-size: 0.8em;
    }
    .alert-dialog-button{
      color: var(--color-primary-6);
    }
  }

  .form-item {
    display: inline-block;
    width: 100%;
    .form-item-left {
      width: 35%;
      float: left;
      padding-top: 18px;
      text-align: left;
    }
    .form-item-right {
      width: 63%;
      float: right;
      .mat-form-field {
        width: 100%;
      }
    }

    @include respond-above(sm) {
      .form-item-left {
        width: 20%;
      }

      .form-item-right {
        width: 78%;
      }
    }
  }
}

/*#endregion*/

.hrm-combobox-dialog {
  .alert-dialog {
    background: #fff;

    @media only screen and (max-width: 600px) {
      width: 85%;
    }

    @media only screen and (min-width: 600px) {
      width: 70%;
      max-width: 600px;
    }

    ons-search-input {
      width: 100%;
      margin: 5px 0px;
      padding: 0 5px;

      .search-input {
        height: 40px;
        font-size: 1rem;
        border-radius: 999px;
        background-size: 15px;
        padding: 0 20px 0 50px;
        background-position: 20px center;
        background-color: var(--color-bg);
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }

  .alert-dialog-content {
    ons-list {
      max-height: 40vh;
      overflow-y: scroll;
      margin: 5px 0 0 0;
    }

    ons-list-item {
      padding-left: 0px;

      div {
        &.left {
          display: inherit;
          background-image: none;
        }

        padding: 0 5px;
        display: block;
      }

      .center {
        display: inline-grid;
        padding: 10px 5px;

        ._id {
          color: rgba(0, 0, 0, 0.4);
        }

        ._name {
          font-size: .95rem;
          padding: 0 0 5px 0;
        }
      }
    }

    ons-radio,
    ons-checkbox {
      min-width: 24px;
      min-height: 24px;
    }
  }

  .loading,
  .small-loading {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .loading {
    height: 40vh;
  }

  .list-item__center {
    width: min-content;
  }

  .radio-button__checkmark:after,
  .checkbox--noborder__checkmark:after {
    width: 16px;
    height: 7px;
    border: 3px solid #0076ff;
    border-top: none;
    border-right: none;
  }

  .display {
    color: var(--color-primary-4);
  }
}

.content-home{
  background-color: #fff!important; 
  background-image: linear-gradient(to top, #00B050 , #ffffff)!important; 
}
.content, .toolbar-button, .textarea--transparent{
  font-size: 0.9rem;
}
.toolbar .left .toolbar-button{
  padding: 0px;
}
.toolbar-button{
  color: var(--color-primary-6);
}
.toolbar-button--outline{
  border-color: var(--color-primary-6);
}
.add-more {
  .toolbar-button {
    float: right;
    margin-right: 0px;
    ons-icon {
      font-size: 0.8em;
      padding-top: 2px;
    }
  }
}

.toolbar-bottom {
  padding: 16px;
  display: inline-block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 5;

  button {
    float: right;
  }

  .toolbar-button {
    ons-icon {
      font-size: 0.8em;
      padding-top: 2px;
    }
  }
}

.content-full-toolbar>div {
  padding-bottom: 100px;
}

/*#region add-send-feedback*/
.search-user {
  display: grid;
  grid-template-columns: 80px auto 53px;
  height: 38px;

  span {
    display: grid;
    padding-top: 4px;
  }

  mat-form-field {
    display: grid;
  }

  button {
    display: grid;
    color: #fff;
    box-shadow: unset;
    border: unset;
    text-align: center;
    height: 38px;
    background-color: transparent;
  }

  button:focus,
  button:visited {
    outline: none;
  }

  ons-icon {
    font-size: 1em !important;
    margin-right: 0px;
    border-radius: 50%;
    background-color: #E84240;
    height: 38px;
    width: 38px;
    line-height: 38px !important;
    cursor: pointer;
  }

  .mat-form-field-infix {
    border-top-width: 0px;
    width: 100%;
  }
}

.list-content.list-content-cen {
  top: 70px;

  .list-content-header {
    text-align: center;
    color: var(--color-primary-6);
    font-size: 1.1rem;
  }

  .list-item {
    border: none;
    margin-right: 16px;

    .center {
      padding: 0px 0px 0px 0px;
    }

    .list-item-top {
      width: 100%;
      position: relative;

      .list-item-top-img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 2;
        background-color: #F38AB8;

        img {
          margin-top: 10%;
          margin-left: 10%;
          width: 80%;
          height: 80%;
          border-radius: 50%;
        }
      }

      .list-item-title {
        width: calc(100% - 10px);
        background-color: #F38AB8;
        padding: 8px 30px 8px 8px;
        text-indent: 40px;
        position: absolute;
        top: 9px;
        left: 10px;
        z-index: 0;

        p {
          color: #fff;
          line-height: 16px;
          height: 16px;            
          margin: 0;     
          width: 100%;
          @extend .t-ellipsis;
        } 
      }      
      ons-icon{
        line-height: 32px;        
        color: #fff;
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 0px;
        font-size: 0.9rem;
        z-index: 2;
      }
    }

    .list-item-bottom {
      padding: 10px 0px 0 16px;
    }
  }

  .list-item.list-item-color-1 {

    .list-item-top-img,
    .list-item-title {
      background-color: #F38AB8;
    }
  }

  .list-item.list-item-color-2 {

    .list-item-top-img,
    .list-item-title {
      background-color: #E84240
        /*#9AC6EA*/
      ;
    }
  }

  .add-more {
    margin-bottom: 16px;
    display: inline-block;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

    button {
      float: right;
      margin-right: 0px;
    }
  }

  .feedback {
    padding: 0 16px;

    .feedback-header {
      display: inline-block;
      width: 100%;

      .left {
        float: left;
        color: var(--color-primary-6);
      }

      .right {
        float: right;
        font-style: italic;
      }
    }

    .feedback-content {
      padding-bottom: 5px;

      textarea {
        width: 100%;
      }
    }
  }

}

.list-content.list-content-view {
  display: inline-block;
  width: 100%;
  position: unset;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  overflow: scroll;
  max-height: 400px;

  .list-item-bottom>div {
    border-top: 1px #BFBFBF solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .list-item-bottom>div:first-child {
    border-top: none;
  }

  .list-item {
    padding-left: 0px;
    margin-right: 0px;

    .center {
      padding-right: 0px;
    }

    >div {
      cursor: pointer;
    }

    .selected {
      background-color: #B9D8FC;
    }
  }
}

/*#endregion*/
/*#region review-send-feedback*/
.content.content-view {
  .search-user {
    grid-template-columns: 80px auto;
  }

  .feedback-items {
    .feedback-item {
      border-top: 1px #BFBFBF solid;
      margin: 0px;
      padding: 10px 0px;

      .left {
        float: left;
        color: var(--color-primary-6);

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          float: left;
        }

        span {
          line-height: 30px;
          display: block;
          float: left;
          padding-left: 10px;
        }
      }

      .right {
        float: right;
        line-height: 30px;
        font-style: italic;
      }

      .top {
        display: inline-block;
        width: 100%;
      }

      .bottom {
        clear: both;
        position: initial;
        margin: 10px 0 0 0;
        display: inline-block;
        width: 100%;
      }
    }
  }
}

/*#endregion*/
/*#region add-request-feedback*/
.add-request-feedback {
  .left {
    float: left;
    color: var(--color-primary-6);
  }

  .right {
    float: right;
  }

  textarea {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px;
    border: 1px #BFBFBF solid;
  }

  .pick-user {
    clear: both;
    position: relative;
    width: 100%;

    ons-icon {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      font-size: 0.9rem;
      color: #C55259;
      padding-top: 18px;
      margin-right: 0px;
    }
  }

  .mat-form-field {
    width: 100%;
    padding-right: 25px;
  }
}

/*#endregion*/
/*#region detail-request-feedback*/
.detail-request-feedback {
  .top {
    display: inline-block;
    width: 100%;
  }

  .left {
    float: left;
    width: 40%;
    margin-right: 2%;
  }

  .right {
    float: left;
    width: 58%;
  }

  @include respond-above(sm) {
    .left {
      width: 30%;
    }

    .right {
      width: 68%;
    }
  }

  .feedback-header {
    color: var(--color-primary-6);
    padding: 10px 0;
    display: inline-block;
    width: 100%;

    .left {
      width: 78%;
      margin-right: 2%;
    }

    .right {
      width: 20%;
      text-align: right;
      font-style: italic;
    }
  }

  .feedback-items {
    clear: both;

    .left {
      width: 78%;
      margin-right: 2%;     
    }

    .right {
      width: 20%;
    }
  }
}

/*endregion*/


@include my-keyframes(lds-dual-ring) {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@include my-keyframes(loading-ghost) {
  100% {
    transform: translateX(100%);
  }
}
/*content-view-background*/
ons-page .content-full.content-view-background{
  padding: 18% 9.05% 0 9.05%!important; 
  #cart-background{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;    
  }
  .js-view-background{
    position: unset;
    top:unset;
    left: unset;
    bottom: unset;
  }
}
