<ons-toolbar>
  <div class="left">
    <ons-toolbar-button (click)="eventOpenMenu()">
      <ons-icon icon="ion-ios-menu, material:md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>
  <div class="center">Hệ Thống Phản Hồi</div>
  <div class="right"></div>
</ons-toolbar>

<ons-page>
  <div class="content">
    <div class="function">
      <button (click)="eventOnPushList()" style="margin: 10px;">Danh sách</button>
      <button (click)="eventOnPushAddNew()" style="margin: 10px;">Thêm phiếu</button>
      <button (click)="eventOnPushReview()" style="margin: 10px;">Xem phiếu</button>
      <button (click)="eventOnPushAddRequestFeedback()" style="margin: 10px;">Thêm mới xin phản hồi</button>
      <button (click)="eventOnPushDetailRequestFeedback()" style="margin: 10px;">Chi tiết phản hồi yêu cầu</button>
      <br>
      <br>
      <br>
      <hrm-combobox-dialog [(ngModel)]="tmpData" id="test" value="1041" multi="false" keyname="name" keyvalue="id"
        placeholder="Gửi đến"></hrm-combobox-dialog>
      <br>
      {{tmpData}}
      <br>
      <br>
      <br>
      <hrm-combobox-dialog [(ngModel)]="tmpData1" id="test1" value="1021" multi="true" keyname="name" keyvalue="id"
        placeholder="Gửi đến 1"></hrm-combobox-dialog>
      <br>
      {{tmpData1}}





      <ng-container *ngFor="let item of listFunction">
        <ng-container *ngIf="item && item.Functions && item.Functions[0]">
          <div class="function-head">
            <ons-icon class={{item?.Icon}}></ons-icon>
            <div class="title" [ngStyle]="{'color': item?.Color}">{{item?.Header || "&nbsp;"}}</div>
          </div>
          <div class="function-body">
            <ng-container *ngFor="let itemSmall of item.Functions">
              <div class="function-body__card">
                <div class="description">{{itemSmall?.Title}}</div>
                <div class="title">
                  <div class="number" [ngStyle]="{'color': item?.Color}">{{itemSmall?.Number}}</div>
                  <ons-icon class="{{itemSmall?.Icon}}"></ons-icon>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ons-page>
