<ons-toolbar>
  <div class="left">
    <ons-toolbar-button (click)="eventOpenMenu()">
      <ons-icon icon="ion-ios-menu, material:md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>
  <div class="center">HỆ THỐNG PHẢN HỒI</div>
  <div class="right"></div>
</ons-toolbar>

<ons-page>
  <div class="content">
    <div class="function">
      <ng-container *ngFor="let item of listFunction">
        <ng-container *ngIf="item && item.Functions && item.Functions[0]">
          <div class="function-head">
            <ons-icon class="fsap {{item?.Icon}}"></ons-icon>
            <div class="title">{{item?.Header || "&nbsp;"}}</div>
          </div>
          <div class="function-body">
            <ng-container *ngFor="let itemSmall of item.Functions">
              <div class="function-body__card">
                <div class="description">{{itemSmall?.Title}}</div>
                <div class="title">
                  <div class="number" [ngStyle]="{'color': item?.Color}">{{itemSmall?.Number}}</div>
                  <ons-icon class="{{itemSmall?.Icon}}"></ons-icon>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      <button (click)="eventOnPushList()" style="margin-right: 20px;">Danh sách</button>
      <button (click)="eventOnPushAddNew()" style="margin-right: 20px;">Thêm phiếu</button>
      <button (click)="eventOnPushReview()" style="margin-right: 20px;">Xem phiếu</button>
      <button (click)="eventOnPushAddRequestFeedback()" style="margin-right: 20px;">Thêm mới xin phản hồi</button>
      <button (click)="eventOnPushDetailRequestFeedback()" style="margin-right: 20px;">Chi tiết phản hồi yêu
        cầu</button>
    </div>
  </div>
</ons-page>
