<div class="page__background side-bar__background"></div>
<div class="content side-bar__content">
  <div class="avatar t-center pt-25">
    <img src="../../../assets/img/NONAL.png" />    
    <div class="title">
      <span class="t-13">
        Trần Thị Mỹ Anh
      </span>
      <br />
      <span class="t-7 text-center">
        <i><span>ttmanh</span></i>
      </span>
    </div>
  </div>

  <ons-list class="menu" modifier="noborder">
      <ons-list-item modifier="chevron longdivider" tappable>
      <!--<div class="left">
        <ons-icon icon="md-home" class="list-item__icon"></ons-icon>
      </div>-->
      <div class="center">
        Trang chủ
      </div>
    </ons-list-item>
    <ons-list-item modifier="chevron longdivider" tappable>
      <!--<div class="left">
        <ons-icon icon="md-list" class="list-item__icon"></ons-icon>
      </div>-->
      <div class="center">
        Danh sách phản hồi
      </div>     
    </ons-list-item>
  </ons-list>
  

  <ons-list class="logout" modifier="noborder">
    <ons-list-item tappable>
      <i class="m-icon-o">power_settings_new</i>      
    </ons-list-item>
  </ons-list>

  <div class="footer">
    <div class="company-name">
      Tập đoàn Nước giải khát Tân Hiệp Phát
    </div>
    <!--<div class="database">
      <ons-icon class="mr-5" icon="fa-database"></ons-icon>
      <span>DBName</span>
      <a href="http://www.lacviet.vn/san-pham/sureerp" target="_blank" class="right">© LACVIET 2020</a>
    </div>-->
  </div>
</div>
